{
    "database": {
        "driver":       null,
        "dsn":          null,
        "username":     null,
        "password":     null
    },

    "newsServer": {
        "host":         null,
        "port":         null,
        "secure":       null,
        "user":         null,
        "password":     null,
        "timeout":      null
    }
}
